.na-Kontaktoni{
  border-top: 2px solid #37332a;
}
#Kontakti {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    
   
    
  }

  #Kontakti-form {
    width: 60%;
    max-width: 600px;
    text-align: center;
    color: white;
    
  }

  #Kontakti-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    
  }

  #Kontakti-form input,
  #Kontakti-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  #Kontakti-form button {
    width: 100%;
    background-color: rgb(174, 98, 44);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  #Kontakti-form button:hover {
    background-color: rgb(185, 88, 19);
  }

  #headeri-na-kontaktoni {
    text-align: center;
    color: white;
    padding-top: 60px ; 
}

#headeri-na-kontaktoni h1 {
    font-size: 30px;
    margin-bottom: 20px; 
    color: rgb(174, 98, 44);
}


  #Kontakti-majte {
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .rrumbullaku {
    width: 40px;
    height: 40px;
    background-color: rgb(174, 98, 44);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .rrumbullaku img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .info-teksti {
    flex-grow: 1;
  }
  
  #Kontakti-majte h2 {
    margin-bottom: 10px;
    color: white;
  }
  
  #Kontakti-majte p {
    margin-bottom: 20px;
    color: white;
  }
  

/*Mbarimi i Kontaktik*/

#footer {
    background: #333639;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #0c0b09;
    border-top: 1px solid #37332a;
    border-bottom: 1px solid #28251f;
    padding: 60px 0 30px 0;
    
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    margin-left: 50px;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Playfair Display", serif;
    color: #fff;
    margin-left: 50px;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }

  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  
  
  .floating-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid rgb(174, 98, 44);
    border-radius: 50%;
    padding: 10px;
    color: rgb(174, 98, 44);
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }

  .floating-arrow.show {
    opacity: 1;
    background-color: rgba(255, 165, 0, 0.1); 
  }
  /* Menu.html css-i*/

  .menuja {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color:rgb(24, 24, 24); 
    color: #ffffff; 
    border-bottom:2px solid #37332a;
  }
  
  .h1B {
    color: rgb(174, 98, 44);
    text-align: center;
  }
  
  .Pjesa-majteB {
    width: 45%;
    
    padding: 20px;
    text-align: center;
  }
  
  .Pjesa-majteB h1 {
    font-size: 2em; 
    margin-bottom: 10px;
  }
  
  .Pjesa-majteB p {
    font-size: 1.2em; 
    margin-bottom: 15px;
  }
  
  .pjesa-e-djathteB img {
    width: 100%;
    height: auto;
    margin-right:200px;
  }
  
 
.Pjesa-majteB button.redirect-button {
  display: inline-block;
  width: 200px;
  padding: 8px 8px; 
  margin-top: 5px; 
  border: 6px solid transparent;
  border-radius: 15px;
  background-color: rgb(174, 98, 44);
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.Pjesa-majteB button.redirect-button a {
  color: #ffffff;
  text-decoration: none; 
}

.Pjesa-majteB button.redirect-button:hover {
  background-color: #ff8c00; 
 
}
.menu-foto-permbajtja {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
  
}

.menu-foto {
  text-align: center;
  border: 2px solid #ff8c00;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  margin: 0 10px;
}

.menu-foto img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.menu-foto-header {
  font-size: 18px;
  color: #ff8c00;
  margin: 10px 0;
}

.menu-foto-paragraph {
  color: #ffffff; 
  margin: 10px 0;
}

.menu-foto-button a {
  text-decoration: none; 
  color: #ffffff; 
}

.menu-foto-button {
  display: inline-block;
  width: 150px;
  padding: 8px 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 6px solid transparent;
  border-radius: 15px;
  background-color: rgb(174, 98, 44);
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.menu-foto-button:hover {
  background-color: #ff8c00;
  border-color: #ff8c00;
}

.menu-title {
  text-align: center;
  margin: 20px 0; 
}

.orange-text {
  color: #ff8c00; 
  font-size:40px
}
/* perfundimi - tre fotot*/

/*permbajtja 2 (Fast foodi)*/
.permbajtja2 {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
 background-color: #262729; 
  color: #ffffff; 
  border-top: 2px solid #37332a;
  border-bottom:2px solid #37332a;
  
}
.h1-2 {
 color: rgb(174, 98, 44);
}
.pjesa-e-majte2 {
  width: 45%;
  
  padding: 20px;
}

.pjesa-e-majte2 h1 {
  font-size: 2em; 
  margin-bottom: 10px;
}

.pjesa-e-majte2 p {
  font-size: 1.2em; 
  margin-bottom: 15px;
}

.pjesa-e-majte2 ul {
  list-style: none;
  padding: 0;
 
}

.pjesa-e-majte2 ul li {
  margin-bottom: 20px;
  margin-left: 16px;
  list-style-type:circle;
}

.pjesa-e-djathte2 img {
  width: 55%;
  border-radius: 8px;
  height: auto;
  margin-left: 220px;
}


/*perfundimi - permbajtja 2 (Fast foodi)*/

/*permbajtja 3 - Pasta*/

#permbajtja3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #262729;
  color: white; 
  
  border-bottom:2px solid #37332a;
}

#permbajtja3 .pjesa-e-majte3 img {
  width: 75%;
  border-radius: 8px;
  height: auto;
  margin-left: 10px;
}

#permbajtja3 .pjesa-e-djathte3 {
  width: 50%; 
}

#permbajtja3 h2 {
  font-size: 2em; 
  margin-bottom: 20px;
  color: rgb(174, 98, 44); 
}

#permbajtja3 ul {
  list-style: none;
  padding: 0;
}



#permbajtja3 ul li {
  margin-bottom: 15px; 
  position: relative;
  display: flex;
  align-items: center;
}

#permbajtja3 ul li::before {
  content: '\2022'; 
  color: rgb(174, 98, 44); 
  font-size: 1.5em; 
  margin-right: 10px; 
}

#permbajtja3 p {
  font-size: 1.2em; 
  line-height: 1.6; 
}

/*perfundimi - permbajtja 3 - Pasta*/

/*permbajtja 4 - Flia*/

.permbajtja4 {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
 background-color: #262729; 
  color: #ffffff; 
}
.h1-4 {
 color: rgb(174, 98, 44);
}
.pjesa-e-majte4 {
  width: 45%;
  
  padding: 20px;
}

.pjesa-e-majte4 h1 {
  font-size: 2em; 
  margin-bottom: 10px;
}

.pjesa-e-majte4 p {
  font-size: 1.2em; 
  margin-bottom: 15px;
}

.pjesa-e-majte4 ul {
  list-style: none;
  padding: 0;
 
}

.pjesa-e-majte4 ul li {
  margin-bottom: 20px;
  margin-left: 120px;
  list-style-type:circle;
}

.pjesa-e-djathte4 img {
  width: 75%;
  border-radius: 8px;
  height: auto;
  margin-left: 150px;
}
/*perfundimi - permbajtja 4 - Flia*/



/* Slideri */
.slideri{
  margin-top: 80px;
  margin-bottom: 40px;
}
.slider{
  width: 1500px;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider .list{
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img{
  width: 1500px;
  height: 100%;
  object-fit: cover;
   filter: brightness(70%);
   padding-top: 10px;
}
.slider .buttons{
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.slider .dots{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active{
  width: 30px;
}
@media screen and (max-width: 768px){
  .slider{
      height: 400px;
  }
}



.slider .item {
  position: relative;
}

.slider .item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; 
  z-index: 1;
}

.slider .item .content h2 {
  font-size: 2em; 
  margin-bottom: 10px;
}

.slider .item .content p {
  font-size: 1.2em; 
}
.menu-totali{
  border-top: 2px solid #37332a;
  border-bottom:2px solid #37332a;
}

/*Login dhe regjistrimi*/
.Login-Body {
  background-image: url(fotot/slider1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width:75%;
  
}

#login-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 30%;
}

.login-header {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  background-color: #555;
}

#register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 75%;
}

#register-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 55%;
}

.login-header {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  background-color: #555;
}
